---
import { Icon } from 'astro-icon/components';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md font-medium">
    <span class="font-bold text-2xl">
      <!-- https://tabler.io/icons -->
      <Icon name="tabler:stack" class="w-5 h-5 inline-block align-text-bottom" /> Previous works
    </span>
    <div class="mt-6">
      <span class="text-blue-500 text-lg"> Web Developer </span>
      <span class="text-gray-500 text-lg"
        >@ Secure Innovation Services., Ltd. (UK)&nbsp;&nbsp;&nbsp;&nbsp;Jun 2023 - Jan 2024</span
      >
      <br />
      <div class="ml-6">
        <ul class="list-outside list-disc py-2">
          <li class="py-2">
            <a class="hover:text-red-600 hover:underline" href="https://gst-dashboard.netlify.app/" target="_blank"
              >Dashboard system for finance department [ https://gst-dashboard.netlify.app ]</a
            ><br />User ID: KevinRing, Password: pass123
          </li>
          <li>
            <a class="hover:text-red-600 hover:underline" href="https://gst-uk.netlify.app/" target="_blank"
              >Company introduction page [ https://gst-uk.netlify.app ]</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-6">
      <span class="text-blue-500 text-lg"> Web Developer </span>
      <span class="text-gray-500 text-lg"> @ VL UK Services., Ltd.(UK)&nbsp;&nbsp;&nbsp;&nbsp;Oct 2021 - Mar 2023</span>
      <ul class="list-outside list-disc py-2">
        <li class="ml-6 py-2">
          <a class="hover:text-red-600 hover:underline" href="https://blog.lilibet.com/" target="_blank"
            >Company Blog page [ https://blog.lilibet.com ]</a
          >
        </li>
        <li class="ml-6 py-2">
          <a class="hover:text-red-600 hover:underline" href="/twitter"
            >Developing fully automated tweeting tools for marketing team</a
          >
        </li>
      </ul>
    </div>
    <div class="mt-6">
      <span class="text-blue-500 text-lg"> Systems Engineer </span>
      <span class="text-gray-500 text-lg"> @Hitachi., Ltd.(JPN)&nbsp;&nbsp;&nbsp;&nbsp;Apr 2018 - Dec 2020</span>
      <ul class="list-outside list-disc py-2">
        <li class="ml-6 py-2">Managing large-scale system migration</li>
        <li class="ml-6 py-2">Windows server maintenance</li>
      </ul>
    </div>
    <div class="mt-6">
      <span class="text-blue-500 text-lg"> Application Developer </span>
      <span class="text-gray-500 text-lg">
        @Dai Nippon Printing., Ltd. (JPN)&nbsp;&nbsp;&nbsp;&nbsp;Apr 2016 - Dec 2017
      </span>
      <ul class="list-outside list-disc py-2">
        <li class="ml-6 py-2">Developing quality inspection applications for printing plants</li>
      </ul>
    </div>
  </div>
</section>
